<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--    <form action="/admin/add" method="POST">-->
<!--        <label for="username">Name</label>-->
<!--        <input type="text" name="username" id="username"><br>-->
<!--        <label for="password">Password</label>-->
<!--        <input type="text" name="password" id="password"><br>-->
<!--        <label for="role">Role</label>-->
<!--        <input type="text" name="role" id="role"><br>-->
<!--        <input type="submit" value="Save">-->

<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Add</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">

                <a class="nav-link" href="/users">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">New user</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">

            <label for="username">Username</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Username">
            <br/>

            <label for="password">Password</label>
            <input type="text" th:field="*{password}" id="password" placeholder="Password">
            <br/>

            <label for="age">Age</label>
            <input type="text" th:field="*{age}" id="age" placeholder="Age">
            <br/>
            <input type="submit" value="Add user">


        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </div>
</div>
</body>
</html>