<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Users</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar content -->

    <a class="navbar-brand" style="color:rgba(155,157,160,0.99)" href="#"><h5 th:text="${autUser.username}"></h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color:rgba(155,157,160,0.99)" href="#">with roles: <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:rgba(155,157,160,0.99)" href="#"><h5 th:each="role : ${autUser.roles}"
                                                                                      th:text="${role.role}"></h5></a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row-reverse">
        <a class="nav-item" style="color:rgba(155,157,160,0.99)" href="/logout">Logout</a>
    </div>

</nav>
<div class="container-fluid">

    <div class="row">
        <nav class="nav flex-column nav-pills nav-justified col-2">
            <a class="nav-link active" href="/allUsers">Admin</a>
            <a class="nav-link" href="/user">Users</a>
        </nav>

        <div class="col-10">
            <h2>Admin panel</h2>
            <br>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#add">New user</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="tab-content">-->

                <div class="card-body tab-content">
                    <div id="users" class="container tab-pane active"><br>
                        <h3>All users</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <thead>
                            <tbody id="dataInf">
                            </tbody>
                        </table>
                        <div>
                            <!--редактирование-->
                            <div class="editForm">
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="idEdit" class="col-form-label">Id</label>
                                                    <input type="text" readonly="readonly" id="idEdit"
                                                           class="form-control" name="Id">
                                                </div>
                                                <div class="form-group">
                                                    <label for="usernameEdit"
                                                           class="col-form-label">Username</label>
                                                    <input type="text" id="usernameEdit" name="username"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastnameEdit"
                                                           class="col-form-label">Lastname</label>
                                                    <input type="text" id="lastnameEdit" name="lastname"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="ageEdit" class="col-form-label">Age</label>
                                                    <input type="text" id="ageEdit" name="age"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="passwordEdit"
                                                           class="col-form-label">Password</label>
                                                    <input type="text" id="passwordEdit" name="password"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="emailEdit"
                                                           class="col-form-label">Email</label>
                                                    <input type="text" id="emailEdit" name="email"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="oldIdRole">role:</label>
                                                    <div class="col-md-3 my-auto mx-auto">
                                                        <select id="oldIdRole">
                                                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                            >
                                                            <option value="ROLE_USER">ROLE_USER</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                <button type="submit" class="btn-update btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!--удаление-->
                            <div class="deleteForm">
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="idDelete" class="col-form-label">Id</label>
                                                    <input type="text" readonly="readonly" id="idDelete"
                                                           class="form-control" name="Id">
                                                </div>

                                                <div class="form-group">
                                                    <label for="usernameDelete"
                                                           class="col-form-label">Username</label>
                                                    <input type="text" readonly="readonly" id="usernameDelete"
                                                           name="username"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastnameDelete"
                                                           class="col-form-label">Lastname</label>
                                                    <input type="text" readonly="readonly" id="lastnameDelete"
                                                           name="lastname"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="ageDelete" class="col-form-label">Age</label>
                                                    <input type="text" readonly="readonly" id="ageDelete" name="age"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="passwordDelete"
                                                           class="col-form-label">Password</label>
                                                    <input type="text" readonly="readonly" id="passwordDelete"
                                                           name="password"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="emailDelete"
                                                           class="col-form-label">Email</label>
                                                    <input type="text" readonly="readonly" id="emailDelete"
                                                           name="email"
                                                           class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="roleDelete" class="col-form-label">role</label>
                                                        <input type="text" readonly="readonly" id="roleDelete" name="role"
                                                               class="form-control"/>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                <button type="submit" class="btn-delete btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="add" class="container tab-pane fade"><br>
                        <h3>Add user</h3>


                        <div class="container">

                            <!--<form action="#" th:action="@{/users/add}" th:object="${user}" method="post">-->

                            <div class="form-group row justify-content-md-center">
                                <div class="col-xs-8">
                                    <label for="username-value">First name</label>
                                    <input type="text" class="form-control" id="username-value"
                                           placeholder="Username" name="username">
                                    <br/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-md-center">
                                <div class="col-xs-8">
                                    <label for="lastname-value">Last name</label>
                                    <input type="text" class="form-control" id="lastname-value"
                                           placeholder="Lastname" name="lastname">
                                    <br/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-md-center">
                                <div class="col-xs-8">
                                    <label for="age-value">Age</label>
                                    <input type="text" class="form-control" id="age-value"
                                           placeholder="Age" name="age">
                                    <br/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-md-center">
                                <div class="col-xs-8">
                                    <label for="email-value">Email</label>
                                    <input type="text" class="form-control" id="email-value"
                                           placeholder="Email" name="email">
                                    <br/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-md-center">
                                <div class="col-xs-8">
                                    <label for="password-value">Password</label>
                                    <input type="password" class="form-control" id="password-value"
                                           placeholder="Password" name="password">
                                    <br/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idAddRole">role:</label>
                                <div class="col-md-3 my-auto mx-auto">
                                    <select id="idAddRole">
                                        <option value="2">ROLE_ADMIN</option>
                                        >
                                        <option value="1">ROLE_USER</option>
                                    </select>
                                </div>
                            </div>


                            <button type="submit" class="btn-add btn-success">Add new user</button>

                        </div>

                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>


</div>



<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/script.js" th:src="@{/index.js}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>