<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar content -->

    <a class="navbar-brand" style="color:rgba(155,157,160,0.99)" href="#"><h5
            th:text="${autUser.username}"></h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color:rgba(155,157,160,0.99)"
                   href="#">with roles: <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:rgba(155,157,160,0.99)" href="#"><h5
                        th:each="role : ${autUser.roles}"
                        th:text="${role.role}"></h5></a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row-reverse">
        <a class="nav-item" style="color:rgba(155,157,160,0.99)" href="/logout">Logout</a>
    </div>

</nav>
<div class="container-fluid">

    <div class="row">
        <nav class="nav flex-column nav-pills nav-justified col-2">
            <a class="nav-link active" href="/allUsers">Admin</a>
            <a class="nav-link" href="/user">Users</a>
        </nav>

        <div class="col-10">
            <h2>Admin panel</h2>
            <br>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#add">New user</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="tab-content">-->

                <div class="card-body tab-content">
                    <div id="users" class="container tab-pane active"><br>
                        <h3>All users</h3>
                        <table class="table table-hover">
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr th:each="user : ${user}">
                                <td th:text="${user.id}">Id</td>
                                <td th:text="${user.username}">Username</td>
                                <td th:text="${user.lastname}">Lastname</td>
                                <td th:text="${user.age}">Age</td>
                                <td th:text="${user.email}">Email</td>
                                <td th:each="role : ${user.roles}" th:text="${role.role}">Role<td>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Edit</button>


                                <!-- Modal Edit -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="container">

                                                <form  th:action="@{/admin/edit}" th:object="${user}" method="post">

                                                    <div class="form-group">
                                                        <label for="username">First name</label>
                                                        <input type="text" class="form-control" id="username"
                                                               placeholder="Username" name="username">
                                                        <br/>
                                                    </div>

                                                    <div class="form-group">
                                                            <label for="lastname">Last name</label>
                                                            <input type="text" class="form-control" id="lastname"
                                                                   placeholder="Lastname" name="lastname">
                                                            <br/>
                                                    </div>

                                                    <div class="form-group">
                                                            <label for="age">Age</label>
                                                            <input type="text" class="form-control" id="age"
                                                                   placeholder="Age" name="age">
                                                            <br/>
                                                    </div>

                                                    <div class="form-group">
                                                            <label for="email">Last name</label>
                                                            <input type="text" class="form-control" id="email"
                                                                   placeholder="Email" name="email">
                                                            <br/>
                                                    </div>

                                                    <div class="form-group">
                                                            <label for="password">Password</label>
                                                            <input type="password" class="form-control" id="password"
                                                                   placeholder="Password" name="password">
                                                            <br/>
                                                    </div>

                                                    <div class="form-group">
                                                            <label for="role">Role</label>
                                                            <input type="text" class="form-control" id="role"
                                                                   placeholder="Role" name="role">
                                                            <br/>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                                <td><a class="btn btn-danger deleteButton">Delete</a></td>user </tr>
                                <!--            </td>-->
                                <!--            <td><a th:href="@{/admin/edit(id=${user.id})}">Edit</a>-->
                                <!--            </td>-->
                                <!--            <td><a th:href="@{/admin/delete(id=${user.id})}">Delete</a>-->
                                <!--            </td>-->
                            </tr>
                        </table>
                    </div>



                    <div id="add" class="container tab-pane fade"><br>
                        <h3>Add user</h3>


                        <div class="container">

                            <form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">

                                <div class="form-group">
                                        <label for="username-value">First name</label>
                                        <input type="text" class="form-control" id="username-value"
                                               placeholder="Username" name="username">
                                        <br/>
                                </div>

                                <div class="form-group row justify-content-md-center">
                                    <div class="col-xs-8">
                                        <label for="lastname-value">Last name</label>
                                        <input type="text" class="form-control" id="lastname-value"
                                               placeholder="Lastname" name="lastname">
                                        <br/>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-md-center">
                                    <div class="col-xs-8">
                                        <label for="age-value">Age</label>
                                        <input type="text" class="form-control" id="age-value"
                                               placeholder="Age" name="age">
                                        <br/>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-md-center">
                                    <div class="col-xs-8">
                                        <label for="email-value">Last name</label>
                                        <input type="text" class="form-control" id="email-value"
                                               placeholder="Email" name="email">
                                        <br/>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-md-center">
                                    <div class="col-xs-8">
                                        <label for="password-value">Password</label>
                                        <input type="password" class="form-control" id="password-value"
                                               placeholder="Password" name="password">
                                        <br/>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-md-center">
                                    <div class="col-xs-8">
                                        <label for="role-value">Password</label>
                                        <input type="text" class="form-control" id="role-value"
                                               placeholder="Role" name="role">
                                        <br/>
                                    </div>
                                </div>


<!--                                <div class="form-group">-->
<!--                                    <label for="idAddRole">role:</label>-->
<!--                                    <div class="col-md-3 my-auto mx-auto">-->
<!--                                        <select id="idAddRole">-->
<!--                                            <option value="2">ROLE_ADMIN</option>-->
<!--                                            >-->
<!--                                            <option value="1">ROLE_USER</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <button type="submit" class="btn-add btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>
</body>
</html>